<footer>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <div class="footer-top">
                <nav>
                    <ul>
                        <li><a href="https://www.instagram.com/?hl=en"><i class="fa-brands fa-instagram"></i></a></li>
                        <li><a href="https://www.facebook.com/"><i class="fa-brands fa-facebook-f"></i></a></li>
                        <li><a href="https://twitter.com/?lang=en"><i class="fa-brands fa-twitter"></i></a></li>
                    </ul>
                </nav>
        </div>
        <div class="footer-middle">
            <h4 class="footer-title">Legales</h4>
            <div class="general">
                <a>Términos y condiciones</a>
                <a>Uso de datos personales</a>
                <a>Ley de Defensa al consumidor</a>
                <a>Política de uso de cookies</a>
            </div>
            <div class="left-column">
                <p>Movil</p>
                <p>Ayuda</p>
                <p>Beneficios</p>
            </div>
            <div class="final-group">
                <p>Avisos Legales</p>
                <p>Como comprar</p>
                <p>Pago y envio</p>
                <p>Libro de Reclamaciones</p>
                <p>FAQS</p>
                <p>Centro de términos y condiciones</p>
            </div>
        </div>
        <div class="footer-bottom">
            <img src="/images/LogoIkarosPhonesenbaja.png" alt="Titulo phone Titulo" class="footer-img">
            <p>Argentina 2022 Ikaro'sPhone - Todos los derechos reservados</p>
        </div>
</footer>
