<header>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <div class="top-header">
    
            <div class="icons-left">
                 <img class="logo" src="/images/LogoIkarosPhonesenbaja.png">
            </div>
    
        </div>
    
    </header>